<h1 class="text-center">Page 4 works!</h1>

<div class="row">
  <div class="col-sm-4">
    <ul class="nav nav-pills nav-stacked">
        <li routerLinkActive="active"><a routerLink="/page4/1">Page 4-1</a></li>
        <li routerLinkActive="active"><a routerLink="/page4/2">Page 4-2</a></li>
      </ul>
  </div>
  <div class="col-sm-8">

    <router-outlet></router-outlet>
  </div>
</div>