<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="text-center">{{title}}</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/page1">Page 1</a></li>
        <li class="dropdown" routerLinkActive="active">
          <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/page2">Page 2<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a routerLink="/page2/1">Page 2-1</a></li>
            <li routerLinkActive="active"><a routerLink="/page2/2">Page 2-2</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a routerLink="/page3">Page 3</a></li>
        <li routerLinkActive="active"><a routerLink="/page4">Page 4</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {{_appService.getName()}}
      <button md-button [color]="'warning'" (click)="getTitle()">Get Title</button>
    <router-outlet></router-outlet>
  </div>
</div>