<h1 class="text-center" [style.color]="('is-dark') ? 'green' : 'red'">Page 1 works!</h1>
<span class="glyphicon glyphicon-remove"></span>
{{default}}
<input type="text" ngModel (ngModelChange)="_appService.setName($event)" >
<button md-button [color]="'primary'" (click)="setTitle('Vineet')">New Button</button>
