<h1 class="text-center">You are on homepage</h1>
<md-icon>home</md-icon><span class="glyphicon glyphicon-home"></span>
<codemirror [(ngModel)]="code" [config]="config" (focus)="onFocus()" (blur)="onBlur()"></codemirror>